.site-btn {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 100px;
}

#find_id {
    margin-bottom: 30px;
}

#find_pw {
    border-top: 1px solid rgba(0, 0, 0, 0.623);
    padding-top: 30px;
}

.find_text {
    display: inline-block;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.find_text h3{
    font-size: 25px;
    color: rgb(48, 48, 48);
}

.checkout__input p{
    margin-top: 20px;
}
